.button
    title()
    font-size 21px
    line-height 26px
    padding 15px 20px
    border 1px solid #d3d1d1
    transition all .6s
    background-color #fff 
    color $c_teal
    text-decoration none
    
    &:hover, &:active
        border-left 10px solid $c_secondary
        color $c_primary
        padding 15px 20px 15px 10px

        i
            color $c_secondary

    i 
        vertical-align -4px
        transition all .3s