/* --------------------------------------------------------------------------
	SETTINGS: COLORS
 -------------------------------------------------------------------------- */

body
    background-color $c_background


h2
    color $c_title