/* --------------------------------------------------------------------------
	SETTINGS: GRID
 -------------------------------------------------------------------------- */

*{
    box-sizing border-box
}

.row
    display flex
    flex-wrap wrap
    justify-content space-between
    width 100%
    margin 0 auto
    max-width $row-width

      
.column
    flex 1
    max-width 1
    padding 0 ($column-gap / 2)

for size in (1..12)
    .small-{size}
        flex 0 0 ( (100 / 12) * size)%
        max-width ( (100 / 12) * size)%


@media $medium-only
    for size in (1..12)
        .medium-{size}
            flex 0 0 ( (100 / 12) * size)%
            max-width ( (100 / 12) * size)%


@media $large
    for size in (1..12)
        .large-{size}
            flex 0 0 ( (100 / 12) * size)%
            max-width ( (100 / 12) * size)%
