/* --------------------------------------------------------------------------
	SETTINGS: MEDIA QUERIES
 -------------------------------------------------------------------------- */

$small = "(max-width: "+ ($medium-width - 1px) +")"
$medium = "(min-width: "+ ($medium-width ) +")"
$medium-only = "(min-width: "+ ($medium-width ) +") and (max-width: "+ ($large-width - 1px) +")"
$large = "(min-width: "+ ($large-width) +")"

