/* --------------------------------------------------------------------------
	SETTINGS: TYPOGRAPHY
 -------------------------------------------------------------------------- */

body
    font-family $body-font-family
    color $c_primary

h1,h2,h3,h4,h5,h6
    font-family $title-font-family
    font-weight: bold

    @media $small
        margin-bottom 10px

h2
    font-size 29px

h3
    font-size 23px


