/* --------------------------------------------------------------------------
	SETTINGS: VARIABLES
 -------------------------------------------------------------------------- */

/*------------------------------------------------------------------------ */
// RESPONSIVENESS VARIABLES

$medium-width = 768px
$large-width = 1025px


/*------------------------------------------------------------------------ */
// GRID VARIABLES

$row-width = 1236px
$column-gap = 0px


/*------------------------------------------------------------------------ */
// TYPOGRAPHY VARIABLES

$title-font-family = 'Roboto Condensed';
$body-font-family = 'Roboto';


/*------------------------------------------------------------------------ */
// COLOR VARIABLES
 
$c_background = #e0dcdc

$c_primary = #303132
$c_secondary = #ff6600

$c_title = #5e6774

$c_teal = #353f4f
$c_teal-light = #5e6774
