/* --------------------------------------------------------------------------
	SETTINGS: VARIABLES
 -------------------------------------------------------------------------- */

/*------------------------------------------------------------------------ */
// RESPONSIVENESS VARIABLES

$medium-width = 768px
$large-width = 1025px


/*------------------------------------------------------------------------ */
// GRID VARIABLES

$row-width = 1236px
$column-gap = 0px
